h1{
    font-family:'Times New Roman', Times, serif
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
    color: black;
}

.bg-icon {
    background: url(/WAD2/Project/foody2-1.0.0/img/bg-icon.png) center center repeat;
    background-size: contain;
}