
/* nav bar */
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: teal;
        overflow: hidden;
        position: sticky;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    /* border: solid teal 1px;  only if background white else not nice:/ */
    }

    /* Change the color of links on hover */
    .topnav a:hover {
    background-color: rgb(133, 190, 190);
    color: rgb(85, 123, 123);
    }

    /* Add a color to the active/current link */
    .topnav a.active {
    background-color: rgb(193, 234, 234);
    /* background-color: white; */
    color: teal;
    }

    /* Right-aligned section inside the top navigation */
    .topnav-right {
    float: right;
    }


/* recipe */
    /* recipe main search area */
        .search-wrapper {
            position: absolute;
            top: 45%;
            left: 10%;
            display: block;
            width: 80%;
            height: 100%;
            align-items: center;
            margin: auto;
        }
        
        .search-wrapper #ingredients-input {
            width: 100%;
        }


    /* recipe filter box */
        .filter-box {
            background-color: white;
            padding: 10px;
        }

        .filter-header {
            background-color: teal;
            color: white;
            font-size: large;
            padding: 10px;
        }

    /* recipe search bar */
        .autocomplete {
            position: absolute;
            display: inline-block;
            background-color: white;
            margin-top: 1rem;
            z-index: 9999;
            
        }

        .autocompleteTable {
            /* position: absolute; */
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 2;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

/* misc? */
    .box {
        align-items: center;
    }

    /* checking off */
        .strikeOff {
            color: rgb(192, 192, 192);
        }

        .strikeOff input[type="checkbox"]:checked {
            background: rgb(192, 192, 192);
            border: rgb(192, 192, 192);
        }
        
    /* background card imgs */
        .card-img-top {
            opacity: 0.5;
        }

    /* customised headers */
        .small-text {
            font-style: italic;
            color: gray;
        }

        .med-text {
            font-style: italic;
            color: gray;
            font-size: x-large;
            text-align: center;
            background-color:rgb(173, 207, 207);
            display: inline-flex;
        }

        .large-text {
            font-style: italic;
            font-size: xx-large;
            text-align: center;
            background-color: rgb(104, 170, 170);
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight:bold;
            display: inline-flex;
        }

        .centerHeader {
            margin: 0;
            position: absolute;
            /* top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            justify-content: center;
            align-content: center; */
            flex-wrap: nowrap;
            text-align: center;
            vertical-align: middle;
            max-height: fit-content;
        }
